{% extends 'base/base.html' %}

{% block content %}

    <table class="table table-bordered">
        <thead>
            {% if object_list %}
                <tr>
                    <td>#</td>
                    <td>Foto</td>
                    <td>Nombre</td>
                    <td>Sexo</td>
                    <td>Edad</td>
                    <td>Fecha de rescate</td>
                    <td>Adoptante</td>
                    <td>Acciones</td>
                </tr>
            {% endif %}
        </thead>
        <tbody>
            {% if object_list %}
                {% for mascota in object_list %}
                    <tr>
                        <td>{{ mascota.id }}</td>
                        <td>
                            {% if mascota.foto %}
                                <img src="{{ mascota.foto.url }}" alt="Foto de mascota" width="72" height="72">
                            {% endif %}
                        </td>
                        <td>{{ mascota.nombre }}</td>
                        <td>{{ mascota.sexo }}</td>
                        <td>{{ mascota.edad_aproximada }}</td>
                        <td>{{ mascota.fecha_rescate }}</td>
                        <td>{{ mascota.persona }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% if origin == 'func' %}{% url 'mascota:mascota_editar_func' mascota.id %}{% else %}{% url 'mascota:mascota_editar' mascota.id %}{% endif %}">Editar</a>
                            <a class="btn btn-danger" href="{% if origin == 'func' %}{% url 'mascota:mascota_eliminar_func' mascota.id %}{% else %}{% url 'mascota:mascota_eliminar' mascota.id %}{% endif %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <h1>No hay registros de mascotas</h1>
            {% endif %}
        </tbody>
    </table>

{% endblock %}